<h1>Homepage</h1>

@* @if (@Model.Count == 0)
{
  <h3>No tasks have been added yet!</h3>
} *@

@* Tasks will be a list of Task objects from the entire database *@
@* @foreach (var task in Model)
{
  <table>
  <tr>
    <th>Id</th>
    <th>Task</th>
    <th>Category</th>
    /*<th>Due Date</th>*/
  </tr>
  <tr>
    <th>@task.GetId()</th>
    <th>@task.GetDescription()</th>
    <th>@task.GetName()</th>
    /*<th>@Model.GetDueDate()</th>*/
  </tr>
</table>
} *@

<a href="/category/add">Add Category</a> <br>
<a href="/category/list">View Categories</a>
